body {
    font-family: roboto condensed, serif;
    /*background-image: url("photo-1501339847302-ac426a4a7cbb.jpeg");*/
    background-color: tan;
}

.intro {

}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

#roast-selection {
    border-radius: .25em;
}

#coffee-selection {
    border-radius: .25em;
}

#roast-new {
    border-radius: .25em;
}

#coffee-name-new {
    border-radius: .25em;
}

.col {
    border: 1px solid red;
}

.row {
    border: 1px solid blue;
}